<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.exrxnetcrawlerserver.kinesiologyglossary.mapper.KinesiologyGlossaryMapper">
    <resultMap id="BaseResultMap"
               type="com.jmsoftware.exrxnetcrawlerserver.kinesiologyglossary.domain.KinesiologyGlossaryPo">
        <!--@Table kinesiology_glossary-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, `name`, description, parent_id
    </sql>

    <insert id="insertKinesiologyGlossary">
        INSERT INTO kinesiology_glossary(name,
                                         description,
                                         parent_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name},
             #{item.description},
             #{item.parentId})
        </foreach>
    </insert>
</mapper>
