<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.exrxnetcrawlerserver.muscle.mapper.MuscleMapper">
    <resultMap id="BaseResultMap" type="com.jmsoftware.exrxnetcrawlerserver.muscle.domain.MusclePo">
        <!--@Table muscle-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="other_names" jdbcType="VARCHAR" property="otherNames"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="body_part_id" jdbcType="BIGINT" property="bodyPartId"/>
    </resultMap>

    <insert id="insertMuscleList">
        INSERT INTO muscle(name,
                           other_names,
                           parent_id,
                           body_part_id)
        VALUES
        <foreach collection="musclePoList" item="item" separator=",">
            (#{item.name},
            #{item.otherNames},
            #{item.parentId},
            #{item.bodyPartId})
        </foreach>
    </insert>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT id,
               name
        FROM muscle m
        WHERE m.name IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        LIMIT 1
    </select>

    <update id="updateById">
        UPDATE muscle
        <set>
            <if test="otherNames != null and otherNames != ''">
                other_names = #{otherNames},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="bodyPartId != null">
                body_part_id = #{bodyPartId}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
